# Local state files
state/
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Sensitive files
*.tfvars.json
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log files
crash.log
crash.*.log

# CLI configuration files
.terraformrc
terraform.rc